@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --bg-dark: #1b1b1b;
    --bg-light: #2b2b2b;
    --accent-brown: #7a5636;
    --accent-beige: #dbc8b5;
    --text-light: #f2f2f2;
}

body {
    margin: 0;
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: "Lato", sans-serif;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;
    background: var(--bg-light);
    padding: 20px;
    overflow-y: auto;
}

.navbar a {
    display: block;
    padding: 12px;
    margin-bottom: 8px;
    background: #333;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    text-align: center;
}

#content {
    margin-left: 260px;
    padding: 30px;
}

.section {
    margin: 130px 0;
}

.intro {
    width: 80%;
    margin: auto;
    font-size: 18px;
    line-height: 1.7;
    background: #232323;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #333;
    color: var(--accent-beige);
}

.divider {
    height: 2px;
    background: var(--accent-brown);
    border: none;
}

/*  search bar   */
.search-container {
    position: relative;
    width: 60%;
    margin: auto;
}

#searchBar {
    width: 100%;
    padding: 12px 20px 12px 45px;
    border-radius: 25px;
    border: none;
    background: #2d2d2d;
    color: white;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--accent-beige);
}

/* tableau */
table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background: var(--accent-brown);
    padding: 10px;
}

td {
    background: #222;
    padding: 8px;
}


/* pagination */
.pagination-wrapper {
    margin-top: 20px;
    text-align: center;
}

.page-btn {
    background: var(--accent-brown);
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
}

.page-btn:disabled {
    background: #444;
    cursor: not-allowed;
}

.page-number {
    font-size: 16px;
    margin: 0 10px;
    color: var(--accent-beige);
}

/*  Graphique    */
.chart-container {
    width: 90%;
    height: 550px;   
    margin: 50px auto;
}

footer {
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    background: #111;
    color: var(--accent-beige);
}
#map {
    width: 90%;
    height: 550px;
    margin: 50px auto;
    border: 2px solid var(--accent-brown);
    border-radius: 12px;
}

/* Leaflet */
.leaflet-container {
    background: #1d1d1d !important;
}
/* Couleur pour les liens  */
.intro a {
    color: #c6a987;  
    font-weight: bold;
    text-decoration: none;
}

.intro a:hover {
    color: #8f6b45;  
    text-decoration: underline;
}
.pnj-container {
    width: 100%;
    display: flex;
    justify-content: center;  
    gap: 20px;                
    margin-top: 25px;
}

.pnj {
    width: 300px;              
    height: auto;              
    border-radius: 12px;       
    border: 2px solid var(--accent-brown);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
